<div class="container">
<div class="form-header">
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create</button>
    <form>
      <div class="form-group form-inline">
          Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
      </div>
    </form>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Form Name</th>
        <th scope="col">Description</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Age</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Form</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <form #userForm="ngForm">
          {{userForm.value | json}}
          <hr/>
          <div class="form-group">
          <label for="formName">Form Name</label>
          <input type="text" id="formName" class="form-control" name="formName" [(ngModel)]="formName" value={{formName}}>
          </div>
          <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control"  name="description"  [(ngModel)]="description" value={{description}} >
          </div>
          <div class="form-group">
          <label for="createdAt">CreatedAt</label>
          <input type="text" id="createdAt" class="form-control"  name="createdAt" [(ngModel)]="createdAt" value={{createdAt}}>
          </div>
          <div ngModelGroup="fields">
          <div class="form-group">
          <label for="firstName">First Name</label>
          <input required  name="firstName" (change)="log(firstName)" id="firstName" type="text" class="form-control" #firstName="ngModel" [(ngModel)]="firstNameText" value={{firstName}}>
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required</div>
          </div>
          <div class="form-group">
          <label for="lastName">Last Name</label>
          <input required  name="lastName" (change)="log(lastName)"  type="text" id="lastName" class="form-control" #lastName="ngModel" [(ngModel)]="lastNameText" value={{lastName}}>
          <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is Required</div>
          
          </div>
          <div class="form-group">
          <label for="age">Age</label>
          <input type="number" value="age" id="age" class="form-control"  name="age" [(ngModel)]="age" value={{age}}>
          </div>
          </div>
          <div class="modal-footer">
          <button  [disabled]="userForm.form.invalid" class="btn btn-primary" (click)="addForm()">Submit</button>
        </div>
          </form>
      </div>
    </form>
  </div>
</ng-template>
<hr>
<div>
  {{form.formName}}
</div>